/* general styles */
body {
    font-family: Arial;
}

header > nav {
    font-family: Helvetica;
}

.sony_logo {
    height: 15px;
}

body button.br-50 {
    border-radius: 20px;
}

/* utilities */

.title {
    font-size: 30px;
}

.paragraph {
    font-size: 10px;
}

.subtitle {
    font-size: 15px;
}

/* Header */
/* navbar section */
#lens {
    width: 50%;
}

/* jumbotron section */
.jumbo-container {
    height: 70vh;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    position: relative;
    color: white;
}

.jumbo-container div img {
    width: 100%;
}

.jumbo-content {
    position: absolute;
    bottom: 50px;
}

#returnal-logo {
    width: 250px;
}

.jumbo-item-container {
    padding-top: 30px;
    padding-bottom: 100px;
}

.jumbo-item-container > [class*=col-] {
    padding: px;
}

.box {
    height: 120px;
    border: 1px solid black;
    border-radius: 10px;
}

section.console {
    padding-top: 50px;
}









